body{
   background-image: url('../img/background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   color: #FFFFFF;
}

a{
   color: #FFFFFF;
}

input{
   color: #000000;
}

#snackbar{
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}

#snackbar.show{
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}